<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="io.appium.utilities.ExtentReportListener"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="FlipkartTest.java">
        <classes>
            <class name="io.appium.FlipkartTest">
                <methods>
                    <include name="testSearchAndAddToCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>